@import "../../node_modules/bootstrap/less/bootstrap.less";

.diff-added {
  background-color: @state-success-bg;
}

.diff-removed {
  background-color: @state-danger-bg;
}

.node {
  .info {
    .well;
    height: 59px;
    &.expandable {
      cursor: pointer;
      i {
        .glyphicon;
        .glyphicon-chevron-right;
        padding-right: 5px;
      }
      &.expanded i {
        .glyphicon-chevron-down;
      }
    }
    h4 {
      padding: 19px 0;
      display: inline;
    }
    span {
      .pull-right;
      vertical-align: middle;
      width: 250px;
    }
  }
  .reports {
    padding-left: 20px;
  }
}
