@import "../../node_modules/bootstrap/less/bootstrap.less";

.diff-added {
  background-color: @state-success-bg;
}

.diff-removed {
  background-color: @state-danger-bg;
}

.reports {
  padding-left: 20px;
}
